.aliados {
	padding: 85px 0;
	text-align: center;
	@media (max-width: b(sm)) {
		padding: 50px 0;
	}
	&--title {
		margin-bottom: 60px;
	}
	&--subtitle {
		margin-bottom: 40px;
		text-transform: uppercase;
	}
	&__item {
		font-size: 0;
		padding-bottom: 80px;
		&--img {
			width: auto;
			height: 50px;
			cursor: pointer;
			margin: 0 10px 30px 10px;
			display: inline-block;
			@include ease-transition;
			&:hover {
				opacity: 0.6;
			}
		}
		&--imgx				{ display: inline-block;}
		&--institucionales 	{ width: 100%;}
		&--comerciales	 	{ width: 60%;}
		&--creativos	 	{ width: 60%;}
		&--mediaticos 		{ width: 37%;}
		&--oficial			{ width: 18%;}
	}
	
}