.form {
	width: 100%;
	margin: 0 auto 30px auto;
	padding: 0 20px;
	max-width: 300px;
	&--input {
		width: 100%;
		border: none;
		padding: 8px 5px;
		display: inline-block;
		font-size: 18px;
		text-align: center;
		background: #eee;
		font-family: f(light);
		margin-bottom: 20px;
		vertical-align: middle;
		@include ease-transition;
		&:focus {
			background: c(gray);
		}
	}
	&--submit {
		width: auto;
		color: c(base);
		border: none;
		cursor: pointer;
		display: inline-block;
		padding: 12px 30px 10px 30px;
		font-size: 18px;
		background: $colorFeatured !important;
		text-align: center;
		font-family: f(bold);
		text-transform: uppercase;
		white-space: nowrap;
		@include ease-transition;
		&:hover {
			padding: 12px 25px 10px 25px;
		}
	}
}