html,body {
	font-family: f(light);
	line-height: 150%;
}

p { line-height: 150%;}

a {
	color: c(base);
	text-decoration: none;
	@include ease-transition;
	&:hover { color: c(dark);}
}
b,strong {
	font-family: f(bold);
}
.clear { clear: both;}

.pre {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 99;
	position: fixed;
	background-color: #fff;
}
.main-wrap {
	min-height: calc(100vh - 60px - 310px);
}