.header {
	height: 60px;
	padding: 15px 0;
	background: c(white);
	text-align: right;
	&__logo {
		float: left;
		height: 27px;
		&:hover &-default { display: none;}
		&:hover &-hover   { display: inline-block;}
		&-default {
			width: auto;
			height: 100%;
			display: inline-block;
		}
		&-hover {
			width: auto;
			height: 100%;
			display: none;
		}
	}
	&__menu {
		display: inline-block;
		vertical-align: top;
		@media (max-width: b(md)) {
			display: none;
		}
		&-item {
			color: c(base);
			margin: 10px 30px 0 0;
			padding: 0 15px 1px 15px;
			display: inline-block;
			line-height: 100%;
			text-transform: uppercase;
			&.current {
				border-bottom: 4px solid c(yellow);
			}
		}
	}
	&__social {
		display: inline-block;
		vertical-align: top;
		@media (max-width: b(md)) {
			display: none;
		}
		&-item {
			color: c(base);
			margin: 7px 10px 0 10px;
			display: inline-block;
			font-size: 16px !important;
			&:hover { color: c(yellow);}
		}
	}
	&__mobile--btn {
		cursor: pointer;
		display: none;
		font-size: 22px;
		margin-top: 10px;
		@media (max-width: b(md)) {
			display: inline-block;
		}
	}
	&__mobile {
		top: 60px;
		left: 0;
		width: 100%;
		z-index: 99;
		display: none;
		position: absolute;
		text-align: center;
		border-top: 1px solid c(light);
		&--item {
			display: block;
			padding: 13px 0 10px 0;
			background: c(white);
			border-bottom: 1px solid c(light);
			text-transform: uppercase;
			&:hover {
				background: c(light);
			}
			.fa {
				margin: 0 10px;
				font-size: 18px;
			}
		}
	}

}