@charset "UTF-8";
/*===Mazorca Core===*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

/**
* Basic Styles
* ---------------
* Edítalos o sobreescríbelos
*
*/
/**
 * Super basic stylings
 *
 */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  height: 100%; }

html, body {
  min-height: 100%; }

body {
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-family: BlissPro; }

strong {
  font-weight: bold; }

img {
  -ms-interpolation-mode: bicubic; }

.column img, .columns img {
  max-width: 100%; }

img {
  display: block;
  max-width: 100%;
  width: 100%; }

p em {
  font-style: italic; }

section, article, aside, header, footer, nav, figure, figcaption {
  display: block; }

time, mark {
  display: inline-block; }

/**
 * All helpers use the !important keyword, if ever necessary their
 * output might be overriden with the !important keyword in a
 * property located lower in the cascade.
 *
 */
/**
 *	Helpers Index:
 *		Position
 *		Display
 *		Gutters
 *		Paddings and Margins
 *		JS Classes
 *
 */
/*************************** Position ***************************/
.absolute {
  position: absolute !important; }

.relative {
  position: relative !important; }

.fixed {
  position: fixed !important;
  max-width: 100% !important;
  width: 100% !important;
  left: 0; }

.leer-mas__container {
  position: relative;
  overflow: hidden; }

.flip {
  -webkit-transform: rotate(180deg) translateX(-50%) !important;
  -ms-transform: rotate(180deg) translateX(-50%) !important;
      transform: rotate(180deg) translateX(-50%) !important; }

.centerXY {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.text-center {
  text-align: center !important; }

.flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.top56 {
  top: 56px; }

.ontop {
  z-index: 99 !important; }

.z-0 {
  z-index: 0 !important; }

.w100 {
  width: 100% !important; }

.h100 {
  height: 100% !important; }

.op1 {
  opacity: 1 !important; }

.tdn {
  text-decoration: none !important; }

.text-overflow-ellipsis {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important; }

/*************************** Layout ***************************/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/*************************** Display ***************************/
.d-bl {
  display: block !important; }

.inline {
  display: inline !important; }

.inline-block {
  display: inline-block !important; }

/*************************** Gutters ***************************/
/*************************** Paddings and Margins ***************************/
.p0 {
  padding: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.m0 {
  margin: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.mb40 {
  margin-bottom: 40px !important; }

/*************************** Arrows ***************************/
.icon-arrow-up:after {
  content: '\e801'; }

.icon-arrow-down:after {
  content: '\e800'; }

/*************************** Drags, Selects ***************************/
.undraggable-unselectable-cascading *,
.undraggable-unselectable {
  user-drag: none !important;
  -webkit-user-drag: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important; }

.unselectable {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important; }

/*************************** Text ***************************/
.ttu {
  text-transform: uppercase !important; }

.ttn {
  text-transform: none !important; }

/*************************** Animations ***************************/
.transition-fast {
  transition: all 0.3s; }

.transition-slow {
  transition: all 1s; }

.hover-scale-up:hover {
  -webkit-transform: scale(1.2) !important;
      -ms-transform: scale(1.2) !important;
          transform: scale(1.2) !important; }

/*************************** JS Classes ***************************/
[v-cloak] {
  opacity: 0; }

.noScroll_JS, .no-scroll {
  overflow: hidden !important; }

/*************************** Bootstrap ***************************/
.hidden {
  display: none !important; }

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

html {
  font-size: 10px; }

body:before, body:after, html:before, html:after {
  content: " ";
  display: table; }

body:after, html:after {
  clear: both; }

body, html {
  *zoom: 1; }

/**
 * Declare fonts using the Mixin
 */
@font-face {
  font-family: "DTLNobelT";
  src: url("../fonts/DTLNobelT.eot");
  src: url("../fonts/DTLNobelT.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/DTLNobelT.woff") format("woff");
  src: url("../fonts/DTLNobelT.ttf") format("truetype");
  src: url("../fonts/DTLNobelT.svg#../fonts/DTLNobelT") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "DTLNobelT";
  src: url("../fonts/DTLNobelT-Light.eot");
  src: url("../fonts/DTLNobelT-Light.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/DTLNobelT-Light.woff") format("woff");
  src: url("../fonts/DTLNobelT-Light.ttf") format("truetype");
  src: url("../fonts/DTLNobelT-Light.svg#../fonts/DTLNobelT-Light") format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "DTLNobelT";
  src: url("../fonts/DTLNobelT-Bold.eot");
  src: url("../fonts/DTLNobelT-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/DTLNobelT-Bold.woff") format("woff");
  src: url("../fonts/DTLNobelT-Bold.ttf") format("truetype");
  src: url("../fonts/DTLNobelT-Bold.svg#../fonts/DTLNobelT-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Marion";
  src: url("../fonts/DTLNobelT-Bold.eot");
  src: url("../fonts/DTLNobelT-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/DTLNobelT-Bold.woff") format("woff");
  src: url("../fonts/DTLNobelT-Bold.ttf") format("truetype");
  src: url("../fonts/DTLNobelT-Bold.svg#../fonts/DTLNobelT-Bold") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }

/*
*   The Variables
*   Feel free to play with them!
*/
/*Set to "true" for -webkit-,-moz-appereance:none
                            useful for editing radio buttons amog other things*/
/*similar as above but for selects*/
/*
*   If you need to style basic layout and stuff go to your
*   "modules/_contactForm.scss" or similar file
*/
/*Input Elements' Params*/
input, textarea {
  background-color: #FFFFFF;
  color: #312822;
  border: 1px solid #312822;
  border-radius: initial;
  padding: 0 .5em;
  -moz-appearance: none;
  -webkit-appearance: none; }

input, textarea {
  width: 100%; }

textarea {
  resize: vertical; }

input[type="submit"],
input[type="button"] {
  background-color: #0B1119;
  display: block; }

input[type="date"],
input[type="time"],
input[type="button"] {
  width: auto; }

input::-webkit-datetime-edit {
  color: black; }

input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 1; }

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  padding: 0;
  height: 1rem;
  width: 1rem;
  vertical-align: text-top; }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    background-color: black; }

input[type="radio"] {
  border-radius: 100%; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

::-webkit-input-placeholder {
  color: #312822; }

:-moz-placeholder {
  color: #312822; }

::-moz-placeholder {
  color: #312822; }

:-ms-input-placeholder {
  color: #312822; }

.divisor {
  width: 100%;
  padding-top: 70px;
  border-bottom: 1px solid #312822; }


.order-divisor {
  width: 100%;
  border-bottom: 1px solid #312822; }

/*_________________________ Grid _________________________ */
.grid__row {
  position: relative;
  width: 100%;
  min-height: 1px; }

.grid__container--no-pad, .grid__container--banner, .grid__container {
  position: relative;
  padding: 0 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%; }
  .grid__container--no-pad--no-pad, .grid__container--no-pad--banner, .grid__container--banner--no-pad, .grid__container--banner--banner, .grid__container--no-pad, .grid__container--banner {
    padding: 0; }

.grid__col-1-1, .grid__col-1-2, .grid__col-1-3 {
  position: relative; }

.grid__col-1-1 {
  width: 100%; }

.grid__col-1-2 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
  .grid__col-1-2:nth-of-type(odd) {
    padding-right: 50px; }
  .grid__col-1-2:nth-of-type(even) {
    padding-left: 50px; }
  @media only screen and (max-width: 768px) {
    .grid__col-1-2 {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      min-width: 100%; }
      .grid__col-1-2:nth-of-type(odd) {
        padding-right: 0; }
      .grid__col-1-2:nth-of-type(even) {
        padding-left: 0; }
      .grid__col-1-2--contain-fixed {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
            -ms-flex-order: -1;
                order: -1; } }
  .grid__col-1-2--form:nth-of-type(odd) {
    padding-right: 100px; }
  .grid__col-1-2--form:nth-of-type(even) {
    padding-left: 100px; }
  @media only screen and (max-width: 1024px) {
    .grid__col-1-2--form:nth-of-type(odd) {
      padding-right: 50px; }
    .grid__col-1-2--form:nth-of-type(even) {
      padding-left: 50px; } }
  @media only screen and (max-width: 768px) {
    .grid__col-1-2--form:nth-of-type(odd) {
      padding-right: 0; }
    .grid__col-1-2--form:nth-of-type(even) {
      padding-left: 0; } }
  .grid__col-1-2--collection:nth-of-type(odd) {
    padding-left: 100px; }
  .grid__col-1-2--collection:nth-of-type(even) {
    padding-right: 100px; }
  @media only screen and (max-width: 1024px) {
    .grid__col-1-2--collection:nth-of-type(odd) {
      padding-left: 50px; }
    .grid__col-1-2--collection:nth-of-type(even) {
      padding-right: 50px; } }
  @media only screen and (max-width: 768px) {
    .grid__col-1-2--collection:nth-of-type(odd) {
      padding-left: 0; }
    .grid__col-1-2--collection:nth-of-type(even) {
      padding-right: 0; } }

.grid__col-1-3 {
  width: 33.33333%; }
  @media only screen and (min-width: 768px) {
    .grid__col-1-3:nth-of-type(3n-2) {
      padding-right: 66.666666px; }
    .grid__col-1-3:nth-of-type(3n-1) {
      padding-right: 33.333334px;
      padding-left: 33.333334px; }
    .grid__col-1-3:nth-of-type(3n) {
      padding-left: 66.666666px; } }
  @media only screen and (max-width: 768px) {
    .grid__col-1-3 {
      width: 50%; }
      .grid__col-1-3:nth-of-type(odd) {
        padding-right: 10px; }
      .grid__col-1-3:nth-of-type(even) {
        padding-left: 10px; } }
  @media only screen and (max-width: 480px) {
    .grid__col-1-3 {
      width: 100%; }
      .grid__col-1-3:nth-of-type(odd) {
        padding-right: 0; }
      .grid__col-1-3:nth-of-type(even) {
        padding-left: 0; } }

.grid__box {
  position: relative;
  width: 100%; }

.grid__fixedElem {
  height: 200vh;
  position: absolute; }
  .grid__fixedElem.active {
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    top: 80px; }
  @media only screen and (max-width: 768px) {
    .grid__fixedElem {
      height: auto;
      position: relative;
      top: 0; } }

/*# sourceMappingURL=mazorca.css.map */
