.create-film {
	
	&__select-status {

		float: right;
		width: calc(100% - 135px);		
	}

	&__select {

		float: right;
		width: calc(100% - 200px);
	}
}

.edit-film {

	&__button {

		margin: 10px;
	}
}