.googleSearchResults {

    &__DIV_1 {
        bottom: 0px;
        color: rgb(34, 34, 34);
        height: 74px;
        left: 0px;
        position: relative;
        right: 0px;
        text-align: left;
        top: 0px;
        width: 600px;
        column-rule-color: rgb(34, 34, 34);
        perspective-origin: 300px 37px;
        transform-origin: 300px 37px;
        border: 0px none rgb(34, 34, 34);
        font: normal normal normal normal 13px / 15.6px arial, sans-serif;
        outline: rgb(34, 34, 34) none 0px;
        background-color: rgb(255, 255, 255);
    }/*#DIV_1*/

    &__H3_2 {
        color: rgb(34, 34, 34);
        height: 21px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 600px;
        column-rule-color: rgb(34, 34, 34);
        perspective-origin: 300px 10.5px;
        transform-origin: 300px 10.5px;
        border: 0px none rgb(34, 34, 34);
        font: normal normal normal normal 18px / 21.6px arial, sans-serif;
        margin: 0px;
        outline: rgb(34, 34, 34) none 0px;
        overflow: hidden;
    }/*#H3_2*/

    &__A_3 {
        color: rgb(26, 13, 171);
        cursor: pointer;
        text-align: left;
        text-decoration: none;
        white-space: nowrap;
        column-rule-color: rgb(26, 13, 171);
        border: 0px none rgb(26, 13, 171);
        font: normal normal normal normal 18px / 21.6px arial, sans-serif;
        outline: rgb(26, 13, 171) none 0px;
    }/*#A_3*/

    &__DIV_4 {
        color: rgb(84, 84, 84);
        height: 53px;
        max-width: 624px;
        text-align: left;
        width: 600px;
        column-rule-color: rgb(84, 84, 84);
        perspective-origin: 300px 26.5px;
        transform-origin: 300px 26.5px;
        border: 0px none rgb(84, 84, 84);
        font: normal normal normal normal 13px / 18px arial, sans-serif;
        outline: rgb(84, 84, 84) none 0px;
    }/*#DIV_4*/

    &__DIV_5 {
        color: rgb(84, 84, 84);
        height: 53px;
        text-align: left;
        width: 600px;
        column-rule-color: rgb(84, 84, 84);
        perspective-origin: 300px 26.5px;
        transform-origin: 300px 26.5px;
        border: 0px none rgb(84, 84, 84);
        font: normal normal normal normal 13px / 18px arial, sans-serif;
        outline: rgb(84, 84, 84) none 0px;
    }/*#DIV_5*/

    &__DIV_6 {
        color: rgb(128, 128, 128);
        height: 17px;
        text-align: left;
        white-space: nowrap;
        width: 600px;
        column-rule-color: rgb(128, 128, 128);
        perspective-origin: 300px 8.5px;
        transform-origin: 300px 8.5px;
        border: 0px none rgb(128, 128, 128);
        font: normal normal normal normal 13px / 16px arial, sans-serif;
        outline: rgb(128, 128, 128) none 0px;
    }/*#DIV_6*/

    &__CITE_7 {
        color: rgb(0, 102, 33);
        text-align: left;
        white-space: nowrap;
        column-rule-color: rgb(0, 102, 33);
        border: 0px none rgb(0, 102, 33);
        font: normal normal normal normal 14px / 16px arial, sans-serif;
        outline: rgb(0, 102, 33) none 0px;
    }/*#CITE_7*/

    &__B_8 {
        color: rgb(0, 102, 33);
        text-align: left;
        white-space: nowrap;
        column-rule-color: rgb(0, 102, 33);
        border: 0px none rgb(0, 102, 33);
        font: normal normal bold normal 14px / 16px arial, sans-serif;
        outline: rgb(0, 102, 33) none 0px;
    }/*#B_8*/

    &__DIV_9 {
        bottom: 0px;
        color: rgb(128, 128, 128);
        display: inline;
        height: auto;
        left: 0px;
        position: relative;
        right: 0px;
        text-align: left;
        top: 0px;
        vertical-align: middle;
        white-space: nowrap;
        width: auto;
        column-rule-color: rgb(128, 128, 128);
        border: 0px none rgb(128, 128, 128);
        font: normal normal normal normal 13px / 16px arial, sans-serif;
        margin: 0px 3px;
        outline: rgb(128, 128, 128) none 0px;
    }/*#DIV_9*/

    &__A_10 {
        box-shadow: rgb(128, 128, 128) 0px 0px 0px 0px;
        color: rgb(128, 128, 128);
        cursor: default;
        display: inline-block;
        height: 12px;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        width: 13px;
        column-rule-color: rgb(128, 128, 128);
        perspective-origin: 6.5px 6px;
        transform-origin: 6.5px 6px;
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 0px none rgb(128, 128, 128);
        font: normal normal bold normal 11px / 27px arial, sans-serif;
        outline: rgb(128, 128, 128) none 0px;
        transition: none 0s ease 0s;
    }/*#A_10*/

    &__SPAN_11 {
        bottom: 8.5px;
        color: rgb(128, 128, 128);
        cursor: default;
        display: block;
        height: 0px;
        left: 0px;
        position: absolute;
        right: 589px;
        text-align: center;
        top: 7.5px;
        white-space: nowrap;
        width: 0px;
        column-rule-color: rgb(128, 128, 128);
        perspective-origin: 4px 2.5px;
        transform-origin: 4px 2.5px;
        border-top: 5px solid rgb(0, 102, 33);
        border-right: 4px solid rgba(0, 0, 0, 0);
        border-bottom: 0px solid rgb(0, 102, 33);
        border-left: 4px solid rgba(0, 0, 0, 0);
        font: normal normal bold normal 11px / 27px arial, sans-serif;
        margin: -4px 0px 0px 3px;
        outline: rgb(128, 128, 128) none 0px;
    }/*#SPAN_11*/

    &__DIV_12 {
        bottom: -57px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
        color: rgb(128, 128, 128);
        height: 60px;
        left: 0px;
        position: absolute;
        right: 503.625px;
        text-align: left;
        top: 12px;
        visibility: hidden;
        white-space: nowrap;
        width: 94.375px;
        z-index: 3;
        column-rule-color: rgb(128, 128, 128);
        perspective-origin: 48.1875px 31px;
        transform-origin: 48.1875px 31px;
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font: normal normal normal normal 13px / 16px arial, sans-serif;
        outline: rgb(128, 128, 128) none 0px;
        transition: opacity 0.218s ease 0s;
    }/*#DIV_12*/

    &__OL_13 {
        color: rgb(128, 128, 128);
        height: 60px;
        text-align: left;
        visibility: hidden;
        white-space: nowrap;
        width: 94.375px;
        column-rule-color: rgb(128, 128, 128);
        perspective-origin: 47.1875px 30px;
        transform-origin: 47.1875px 30px;
        border: 0px none rgb(128, 128, 128);
        font: normal normal normal normal 13px / 16px arial, sans-serif;
        margin: 0px;
        outline: rgb(128, 128, 128) none 0px;
        padding: 0px;
    }/*#OL_13*/

    &__LI_14, #LI_16 {
        color: rgb(128, 128, 128);
        cursor: pointer;
        height: 30px;
        visibility: hidden;
        white-space: nowrap;
        width: 94.375px;
        column-rule-color: rgb(128, 128, 128);
        perspective-origin: 47.1875px 15px;
        transform-origin: 47.1875px 15px;
        border: 0px none rgb(128, 128, 128);
        font: normal normal normal normal 13px / 16px arial, sans-serif;
        list-style: none outside none;
        outline: rgb(128, 128, 128) none 0px;
    }/*#LI_14, #LI_16*/

    &__A_15, #A_17 {
        color: rgb(51, 51, 51);
        cursor: pointer;
        display: block;
        height: 16px;
        text-align: left;
        text-decoration: none;
        visibility: hidden;
        white-space: nowrap;
        width: 58.375px;
        column-rule-color: rgb(51, 51, 51);
        perspective-origin: 47.1875px 15px;
        transform-origin: 47.1875px 15px;
        border: 0px none rgb(51, 51, 51);
        font: normal normal normal normal 14px / 16px arial, sans-serif;
        list-style: none outside none;
        outline: rgb(51, 51, 51) none 0px;
        padding: 7px 18px;
    }/*#A_15, #A_17*/

    &__SPAN_18 {
        color: rgb(84, 84, 84);
        overflow-wrap: break-word;
        text-align: left;
        word-wrap: break-word;
        column-rule-color: rgb(84, 84, 84);
        border: 0px none rgb(84, 84, 84);
        font: normal normal normal normal 13px / 18.2px arial, sans-serif;
        outline: rgb(84, 84, 84) none 0px;
    }/*#SPAN_18*/






}
