.flex {
  display: flex !important;
}
.image {
  background-color: lightgray;
}

.collapsible-header i {
    width: inherit;
}

.no-top {
  top: 0 !important;
}

.mt-5 {
  margin-top: 5%;
}

.mb-5 {
  margin-bottom: 5%;
}
