//_________________________ Config:Fuentes _________________________ \\

/**
 * Declare fonts using the Mixin
 */

@include declara-font-face(FoundersGrotesk-Light,  '../fonts/FoundersGrotesk-Light', 100);
@include declara-font-face(FoundersGrotesk-Medium, '../fonts/FoundersGrotesk-Medium', normal);
@include declara-font-face(FoundersGrotesk-Bold,   '../fonts/FoundersGrotesk-Bold', bold);

/// Refer to font families through mapped variables.
/// Font families must be written as lists, that is, between parenthesis.

$fonts:(
		light:	('FoundersGrotesk-Light', sans-serif),
		medium: ('FoundersGrotesk-Medium', sans-serif),
		bold: 	('FoundersGrotesk-Bold', sans-serif)
	);

@function f($font) {
	@return map-get($fonts, $font);
}
