// Tamaños mínimos
$row-max-width: 1068px;
$container-max-width: 1024px;
$min-device-width: 320px;
$side: 60px;
$side-xs: 20px;
.wrap {
	width: 100%;
	margin: 0 auto;
	padding: 0 $side;
	position: relative;
	max-width: calc(#{$container-max-width} + 2 * #{$side});
	@media (max-width: 960px) {
		padding: 0 30px;
	}
}